body {
    display: flex;
    align-content: center;
    position: sticky;
}


.card_container {
    max-width: 30em;
    margin:auto;
    text-align: center;
    font-family: arial;
    border: 0;
    padding: 10px;
}

.title {
    color: grey;
    font-size: 20px;
}

.skills {
    color: grey;
    font-size: 20px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 125px;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

p {
    font-size: 40px;
}

.picture {
    width: 50%;
    margin:auto;
    border-radius: 50px;
}

.social_links {
    margin: 30px 0;
}

.middle {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 100px;
    font-size: 2rem;
}