

.card_container {
    max-width: 30em;
    margin:auto;
    text-align: center;
    font-family: arial;
    border: 0;
    padding: 10px;
}

.title  {
    color: grey;
    font-size: 20px;
}

.skills {
    color: grey;
    font-size: 20px;
}



.links a {
    text-decoration: none;
    font-size: 40px;
    color:greenyellow;
    
}

.cardButton button:hover, a:hover {
    opacity: 0.7;
    
}

.cardButton button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black;
    font-weight:bold;
    text-align: center;
    cursor: pointer;
    width: 175px;
    font-size: 28px;
    background-color: greenyellow;
    
}

p {
    font-size: 40px;
}

.picture {
    width: 50%;
    margin:auto;
    border-radius: 50px;
}

