

.card_container {
    max-width: 30em;
    margin:auto;
    text-align: center;
    font-family: arial;
    border: 0;
    padding: 10px;
}

.title {
    color: grey;
    font-size: 20px;
}

.skills {
    color: grey;
    font-size: 20px;
}



.links a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    
}

.cardButton button:hover, a:hover {
    opacity: 0.7;
    
}

p {
    font-size: 40px;
}

.picture {
    width: 50%;
    margin:auto;
    border-radius: 50px;
}

.middle {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 100px;
    font-size: 2rem;
    padding: 25px;
}

