.skills_column {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center; 
    width: 90vw;
    height: 180px;
    font-size: 90px;
    color: slateblue;
    margin: auto;
    margin-top: 6cm;
    margin-bottom: 3cm;
    
}

