/* justify content aligns the flex into how ever wanted. align items  */
.navbar_container {
    /* background-image:url(../../code-background-1477280.jpg); */
    overflow: hidden;
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    border-style: solid;
    border-color: greenyellow;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 5px;

}

.navbar-right li {
   display:inline-block;
   position:relative;
   padding-right: 2rem;
   color: greenyellow;
   font-weight: bolder;
   font-size: 25px;
}

.navbar_container img {
    border-radius: 20px;
    margin-left: 2em;
    margin-bottom: 5px;
    
}

.navbar_container h2 {
    /* justify-content: end; */
    justify-content: left;
    padding: 10px;
    margin-right: 28em;
    color: greenyellow;
    text-decoration: none;
    font-weight: bold;
}

.navbar_container {
    padding-top: 20px;
    list-style: none;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:relative;
    text-decoration: none;
}

 li:hover, li:link, li:active {
    opacity: 0.7;
    text-decoration: none;
}