/* justify content aligns the flex into how ever wanted. align items  */

nav {
    display:inherit;
    background-color: #ddd;
    background: lightslategray;
    color: white;
    overflow:hidden;
}

.navbar-right li {
    position:inherit;
    float: right;
    color: white;
    list-style: none;
    line-break:loose;
}


.nav_name {
    justify-content: end;
    padding: 10px;
    margin: 0;
    color: white
}

.navbar_container {
    padding-top: 30px;
}