/* justify content aligns the flex into how ever wanted. align items  */

nav {
    background-color:white;
    display: flex;
    flex-direction: row;
    

}
.navbar-right li {
    text-align: right;
    color: blueviolet;
    line-break:loose;
    display: inline-flex;
    padding-right: 3rem;
    
}


.nav_name {
    justify-content: end;
    padding: 10px;
    margin: 0;
    color: blueviolet;
}

.navbar_container {
    padding-top: 20px;
    list-style: none;
    margin-bottom: 50px;
}

 li:hover, li:link, li:active {
    opacity: 0.7;
    text-decoration: none;
}