* {
  outline: none;
}




/* body {
  background-image: url(computer.png);
  background-image: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center; 
} */

/*width: 100%;
height: auto;
opacity: 0.3; */

