.container .project_image {
    display:flex;
    flex-wrap: wrap; 
    margin: auto;
}

.card_container img {
    margin-top: 5cm;
    max-width: 100%;  
    height: auto;  
    border-radius: 50px;

}

.container button {
border-radius: 2cm;

}
 
.project p  {
    margin-top: 1em;
    font-size: 16px;
    font-display:inherit;
    font-weight: bold;
}

.project a {
    font-size: 1em;
    color:blueviolet;

}