
.about_container {
    margin-bottom: 100px;
    margin-top: 8em;
    
}
.btn {
    font-size: 40px;
    padding: 10px;
    text-align: center;
    color: black;
    top: 25%
}
.image_container img {
    max-width: 45%;  
    height: 425px;  
    border-radius: 15px;
    opacity: 1.2;
    margin: 10px;
    float: left;
    
       
}
.image_container {
    display:flex;
    margin: auto; 
    flex-direction: row;
    margin-top: 4cm;
    
}
.description p {
    font-size: 23px;
    font-family: arial;
    margin-left: 1em;
    margin-right: 1em;
    color:greenyellow;
    text-align: justify;
    
    
}


.btn  {
    color:greenyellow;
    margin-top: 1em;
   
}



