
.about_container {
    margin-bottom: 100px;
    margin-top: 8em;
    
}
.btn {
    font-size: 40px;
    padding: 10px;
    text-align: center;
    color: black;
    top: 25%
}
.image_container img {
    max-width: 45%;  
    height: 475px;  
    border-radius: 15px;
    opacity: 1.2;
    margin: 5px;
    text-align: center;
       
}
.image_container {
    display:flex;
    margin: auto; 
    flex-direction: row;
    
}
.description p {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 1em;
    color:greenyellow;
    
    
}


.btn  {
    color:greenyellow;
    margin-top: 1em;
   
}



