
.footer_container{
    background-color:slateblue;
    display:block;
    text-align: center;
}   
.footer_links a {
    display:inline-block;
    flex-direction: row;
    text-decoration: none;
    color: black;
    position:inherit;
}
